.show {
animation-name: slowin;
animation-iteration-count: 1;
animation-duration: 1s;
}

@keyframes slowin {
    0% {
        animation-timing-function: reverse ease-in-out;
        transform: translateX(20vw);
    }

    100% {
        animation-timing-function: reverse ease-in-out;
        transform: translateX(0vw);
    }
}

.hide {
    animation-name: slowout;
animation-iteration-count: 1;
animation-duration: 1s;
}



@keyframes slowout {
    0% {
        animation-timing-function: reverse ease-in-out;
        transform: translateX(0vw);
    }

    100% {
        animation-timing-function: reverse ease-in-out;
        transform: translateX(100vw);
    }
}
